<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form1</title>
</head>

<body>
    <h1>Formulario1</h1>
    <form th:action="@{/cliente}" th:object="${cliente}" method="POST">
        <table>
            <tr>
                <th><label for="nombre">Nombre</label></th>
                <td><input type="text" th:field="*{nombre}"></td>
            </tr>
            <tr>
                <th><label for="id">ID usuario</label></th>
                <td><input type="text" th:field="*{id}"></td>
            </tr>
            <tr>
                <th><label for="password">Password</label></th>
                <td><input type="text" th:field="*{password}"></td>
            </tr>
        </table>
        <input type="submit" value="Dar de alta">
    </form>
</body>

</html>